/**
 * mail.scss
 */

.title-header > a > i.fa {
  position: relative;
  top: -5px;
  margin: 0 15px 0 5px;
  font-size: 0.5em;
}

.mail-div {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow: auto;
}

.mail-folder-div {
  margin: 0 10px 0 0;
  padding: 0 5px 0 5px;
  width: 200px;
  float: left;
  overflow: auto;
}

.mail-folder-div > select {
  display: none;
}

.mail-folder-div > ul {
  margin: 0;
  padding: 0;
}

.mail-folder-div > ul > li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  clear: both;
  display: block;
  border-top: solid 1px #ddd;
}

.mail-folder-div > ul > li > a:nth-child(1) > i.material-icons {
  position: relative;
  margin-right: 5px;
  top: 5px;
}

.mail-folder-div > ul > li > a:nth-child(1) {
  margin: 0;
  padding: 10px 0 10px 0;
  display: inline-block;
  width: 170px;
  float: left;
}

.mail-folder-div > ul > li > a:nth-child(2) {
  margin: 0;
  padding: 10px 0 10px 0;
  display: inline-block;
  width: 10px;
  text-align: center;
  float: left;
}

.mail-folder-div > ul > li > ul {
  clear: both;
  margin: 0;
  padding: 0;
  display: none;
}

.mail-folder-div > ul > li > ul > li {
  margin: 0;
  padding: 0;
  font-size: 0.825em;
  list-style-type: none;
}

.mail-folder-div > ul > li > ul > li > a {
  margin: 0;
  padding: 5px 0 5px 20px;
  display: block;
  border-top: solid 1px #ddd;
}

.mail-folder-div > ul > li > ul > li > a > i.material-icons {
  position: relative;
  margin-right: 5px;
  top: 5px;
}

.mail-list-div {
  margin: 0;
  padding: 0 5px 0 5px;
  width: calc(100% - 230px);
  float: right;
}

.mail-nav {
  margin: 0 auto 10px auto;
  padding: 0;
  overflow: auto;
  float: right;
}

.mail-nav > a {
  margin: 0 0 0 4px;
  padding: 3px 5px 3px 5px;
  width: 34px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  float: right;
  border: solid 1px #868e96;
  border-radius: 3px;
}

.accounts-select {
  float: right;
}

table.mail-table > tbody > tr > td {
  border-top: solid 1px #ddd;
}

#mail-compose-form {
  clear: both;
}

#mail-compose-form-fieldset-1 > dl > dt {
  margin: 0;
  padding: 5px 10px 10px 0;
  text-align: right;
  float: left;
  display: block;
  width: 75px;
}

#mail-compose-form-fieldset-1 > dl > dd {
  margin: 0;
  padding: 0 0 10px 0;
  float: left;
  display: block;
  width: calc(100% - 75px);
}

#mail-compose-form-fieldset-2 {
  margin: 10px 0 5px 0;
  padding: 20px 0 5px 0;
  clear: both;
  border-top: solid 1px #ddd;
}

#mail-compose-form-fieldset-3 > dl > dd:nth-child(1) {
  width: 42%;
  display: inline-block;
  float: right;
}

#mail-search-form {
  margin: 0 0 10px 0;
  padding: 0;
  display: inline-block;
}

#mail-search-form > div {
  margin: 0;
  padding: 0;
  display: inline-block;
}

button.mail-send-btn:after {
  font-family: "FontAwesome";
  font-weight: normal;
  content: "\f1d8";
  margin: 0;
  padding: 0 0 0 5px;
  color: #fff;
  font-size: 1.1em;
  text-align: right;
}

button.mail-cancel-btn:after {
  font-family: "FontAwesome";
  font-weight: normal;
  content: "\f05e";
  margin: 0;
  padding: 0 0 0 5px;
  color: #fff;
  font-size: 1.1em;
  text-align: right;
}

#mail-compose-form-fieldset-3 > dl > dd:nth-child(2) {
  width: 42%;
  display: inline-block;
  float: left;
}

#mail-compose-form-fieldset-3 > dl > dd:nth-child(3) {
  clear: both;
}

.folder-form-div {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  margin: auto;
  padding: 25px;
  width: 260px;
  height: 220px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 6px 2px #bbb;
}

.folder-form-div > form > h4 {
  margin: 0;
  padding: 0;
}

.folder-form-div > form > div {
  padding: 7px 0 7px 0;
}

.folder-form-div > form > div > select {
  width: 100%;
  display: block;
}

.form-close {
  float: right;
}

#dropzone {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 160px;
  font-weight: bold;
  font-size: 2.2em;
  text-align: center;
  color: #aaa;
  border: dashed 5px #aaa;
  background-color: #eee;
}

#mail_process_action {
  display: inline;
}

.process-btn {
  display: inline;
}

#move-folder-select {
  display: none;
}

.mail-sent {
  margin-top: 160px;
}

.mail-sent > h3 {
  color: #31771b;
}

.mail-sent > h3 > i {
  position: relative;
  top: 4px;
  margin-right: 10px;
}

.mail-nav-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  text-align: left;
}

.mail-nav-btn-fa {
  padding-top: 9px;
  padding-bottom: 9px;
}

.mail-nav-btn > i.material-icons {
  position: relative;
  top: 3px;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  width: 25px;
}


.mail-nav-btn > i.fa {
  position: relative;
  top: 0;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  width: 25px;
}

.message-count {
  margin: 3px 0 0 0;
  padding: 0;
  float: right;
  font-weight: bold;
}

.mail-nav-btn > span {
  position: relative;
  top: -5px;
}

.mail-nav-btn > span.fa-span {
  position: relative;
  top: -1px;
}

.mail-nav-bottom-div {
  display: none;
}

@media (max-width: 768px) {
  .time-md {
    display: none;
  }
}

@media (max-width: 480px) {
  #mail-search-form {
    display: none;
  }

  .mail-nav-side-div {
    display: none;
  }

  .mail-nav-bottom-div {
    display: block;
  }

  .mail-folder-div {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    float: none;
    overflow: auto;
    border-right: none;
  }

  .mail-list-div {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    float: none;
  }

  .mail-folder-div > select {
    margin: 0 auto 15px auto;
    width: 100%;
    display: block;
  }

  .mail-folder-div > ul, .mail-folder-div > ul > li, .mail-folder-div > ul > li > ul, .mail-folder-div > ul > li > ul > li {
    display: none;
  }

  .accounts-select {
    float: none;
    display: block;
    margin: 0 auto 15px auto;
    width: 100%;
  }

  #mail_process_action {
    margin: 0 auto 15px auto;
    width: 100%;
    display: block;
  }

  .move-folder-select {
    margin: 0 auto 15px auto;
    width: 100%;
  }

  .process-btn {
    margin: 0 auto 15px auto;
    width: 100%;
    display: block;
  }
}
